div.searchDiv {
    background-color: #c40000;
    width: 400px;
    margin: 50px auto;
    padding: 1px;
    height: 40px;
    display: block;
}

div.searchDiv input {
    width: 275px;
    border: 1px solid transparent;
    height: 36px;
    margin: 1px;
    outline: none;
}

div.searchDiv button {
    width: 110px;
    background-color: #c40000;
    border: 1px solid transparent;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

div.searchBelow {
    margin-top: 5px;
    margin-left: -20px;
}

div.searchBelow span {
    color: #999999;
}

div.searchBelow a {
    margin: 0 20px 0 20px;
    font-size: 14px;
}

.logo {
    position: absolute;
    left: 0;
    top: 30px;
}

body {
    font-size: 12px;
    font-family: Arial;
}

a {
    color: #999;
}

div.searchBelow a:hover {
    color: #c40000;
    text-decoration: none;
}