div.categoryPageDiv {
    max-width: 1013px;
    margin: 10px auto;
}

div.categorySortBar {
    margin: 40px 20px 20px 20px;
    padding: 4px;
    background-color: #faf9f9;
}

table.categorySortBarTable {
    display: inline-block;
    border-collapse: collapse;
}

table.categorySortBarTable span.glyphicon {
    font-size: 10px;
}

table.categorySortBarTable td {
    height: 17px;
    padding: 3px;
    border: 1px solid #cccccc;
    font-size: 12px;
}

table.categorySortBarTable td.grayColumn {
    background-color: #f1edec;
}

table.categorySortBarTable td a {
    color: #806f66;
}

table.categorySortBarTable td a:hover {
    color: #c40000;
}

table.categorySortBarTable input {
    border: none;
    height: 15px;
    width: 50px;
    outline: none;
}

table.categorySortBarTable td.priceMiddleColumn {
    width: 5px;
    vertical-align: middle;
    color: #cccccc;
}

table.categorySortBarTable td:hover {
    background-color: #f1edec;
}

body {
    font-size: 12px;
    font-family: Arial;
}