div.cartDiv {
    max-width: 1013px;
    margin: 10px auto;
    color: black;
}

table.cartProductTable {
    width: 100%;
    font-size: 12px;
}

tr.cartProductItemTR {
    border: 1px solid #CCCCCC;
}

tr.cartProductItemTR td {
    padding: 20px 20px;
}

table.cartProductTable th {
    font-weight: normal;
    color: #3C3C3C;
    padding: 20px 20px;
}

img.cartProductImg {
    padding: 1px;
    border: 1px solid #EEEEEE;
    width: 80px;
    height: 80px;
}

table.cartProductTable th.selectAndImage {
    width: 100px;
}

table.cartProductTable th.operation {
    width: 80px;
}

div.cartProductLinkOutDiv {
    position: relative;
    height: 80px;
}

a.cartProductLink {
    color: #3C3C3C;
}
span.cartProductItemOringalPrice{
    text-decoration: line-through;
    color: #9c9c9c;
    font-weight: bold;
    font-size: 14px;
}
span.cartProductItemPromotionPrice{
    font-size: 14px;
    font-weight: bold;
    color: #C40000;
    font-family:Arial;
}

a.cartProductLink:hover {
    color: #C40000;
    text-decoration: underline;
}

div.cartProductLinkInnerDiv {
    position: absolute;
    bottom: 0;
    height: 20px;
}
div.cartProductChangeNumberDiv{
    width: 80px;
    border:1px solid #e5e5e5;
}
div.cartProductChangeNumberDiv a{
    width: 14px;
    display: inline-block;
    text-align: center;
    color: #000;
    text-decoration: none;
}
div.cartProductChangeNumberDiv input{
    display: inline-block;
    width: 42px;
    border:1px solid #aaaaaa;
}
span.cartProductItemSmallSumPrice{
    font-size: 14px;
    font-weight: bold;
    color: #C40000;
}
img.cartProductItemIfSelected,img .selectAllItem{
    cursor: pointer;
}